.main-div{
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.container{
    width: 90%;
    max-width: 90%;
    margin: 24px auto;
}  

@media screen and (min-width:650px){
    .main-div{
        width: 100%;
        max-width: 1080px;
        display: grid;
        grid-template-rows: 4fr 1fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "form section"
                            "extract section"; 
        margin: 0 auto;
                            
    }
    .form{
        grid-area: form;
    }
    .section{
        grid-area: section;
    }
    .extract{
        grid-area: extract;
    }
}