.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    input, button, select{
        width: 90%;
        max-width: 90%;
        height: 48px;
        margin: 12px auto;
        border: none;
    }
    input, select{
        background: var(--color-grey-1);
    }
    input[type=number]::-webkit-inner-spin-button { 
        -webkit-appearance: none;
        
    }

    div{
        margin: 12px auto;
        width: 90%;
        max-width: 90%;
    }


}