.logoDiv{
    display: flex;
    align-items: center;
    gap: 16px;
}

.title{
    font-family: var(--font-family-2);
    font-size: 32px;
    font-weight: 400;
    color: var(--color-primary);
        .dark{
            color: black;   
        }
        .light{
            color: white;
        }
}